.to-do-list-img,
.to-do-list-img-container {
  border-radius: 10px 0 0 0;
}

.list,
.list-container {
  width: fit-content;
}

/* not ideal yet */
#list {
  width: 100%;
}

.min-width {
  min-width: 25%;
}

.to-do {
  background-color: rgb(255, 243, 225);
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

#done {
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.navbar-toggler-icon {
  font-size: 0.5em;
}

.date {
  white-space: nowrap;
}

@media (max-width: 480px) {
  #impressum {
    display: none;
  }
}

@media (min-width: 480px) {
  #list {
    width: 500px;
  }
}