<div class='d-flex w-100 h-75 justify-content-center align-items-center'>
  <div class='card text-bg-secondary mb-3' style='max-width: 18rem;'>
    <div class='card-header'>Dashboard</div>
    <div class='card-body'>
      <h5 class='card-title'>user.id: {{user.id}}</h5>
      <p class='card-text'>Trying to display some userdate here...</p>
    </div>
  </div>
</div>